{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}

<div class="container">

  <div class="row">

    <div class="col-md-4">
      {% if user.profile_pic_path %}
  
      <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
  
      {%else%}
      <img src="{{url_for('static',filename='photos/avartar.jpeg')}}" alt="" class="img-thumbnail">  
      {% endif %}
      <h3> {{user.username| capitalize}} </h3>

      {% if user.bio %}
        <p> {{user.bio}}</p>

      {%else%}
        <p> {{user.username| capitalize}} has no bio </p>
      {% endif %}

      {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
      {% endif %}

      <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
  
        <input type="file"  name="photo" class="form-control" required>
        <input type="submit">
    
      </form>


    </div>
    <div class="col-md-4">
      {{simplemde.load}}

      <h5>Your Posts</h5>
      {% for pitch in pitches  %}
      <div class="card m-5" style="max-width: 540px;">
        <a href="" target="_blank">
          <div class="row g-0">
            <div class="col-md-4" >
              <img src="{{ pitch.user.profile_pic_path}}" style="height:100%; width: 100%;"alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text"><small class="text-muted">{{ pitch.user.username}}</small></p>
                <h5 class="card-title">{{ pitch.pitch_title }}</h5>
                <p class="card-text">{{pitch.category}}</p>
                <p class="card-text">{{pitch.pitch_content}}</p>
                <p class="card-text"><small class="text-muted">Posted on {{ pitch.posted}}</small></p>
                <p class="card-text"><small class="text-muted">5 comments</small></p>

                <p>Read More</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}

    </div>


  </div>
</div>
{% endblock %}