.topheader{
    display: flex;
    justify-content:stretch;
}

.pitch-content{
    display: flex;
}

.more-details{
    
}

.homepitch{
    display: flex;
}

.pitch-card{
    border: 2px solid black;
    background-color: rgb(140, 120, 158);
}