.navbar{
    background-color: transparent;
    border: none;

}

.navbar-nav li a{
    color: thistle !important;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    font-family: 'Aclonica', sans-serif;
}

.navbar-nav li a:hover{
    color: azure !important;
}


.navbar-brand{
    color: thistle !important;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Rancho', cursive;

    
}
  

 body{
    height: 100%;
    width: 100%;
    background-color: rgb(42, 13, 93);


}

.login{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(42, 13, 93, 0.1);

}
.login .row{
    margin-top: 15%;
}

.signup{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.signup .row{
    margin-top: 15%;
}

.signup .row .signup-image{
    margin-top: 3%;
}


.pitch-card{
    border: 1px solid grey;
    margin: 5px;
    color: white;
    background-color: rgb(35, 5, 75, 0.8);
    font-family: 'Niconne', cursive;
    box-shadow:  10px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(0.98);

}

.pitch-card:hover{
    filter:drop-shadow(8px 8px 10px rgb(19, 19, 19));
    transform: scale(1);


}

.home{
    color: white;
}

.home h4{
    text-align: center;
    font-weight: 900;
    color: rgb(18, 160, 243);
    font-size: 15px;

}

.pitch-card p{
    margin-top: 5px;
    font-size: 23px;
    font-weight: bold;
}

.pitch-card button{
    margin-left: 1rem;
    font-size: 20px;
}


.topheader{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
}

.more-details{
    font-family: 'Rancho', cursive;
    font-size: 22px;
}

.more-details .buttons{
    display: flex;
    justify-content: space-between;

}
.more-details .buttons .fas{
    margin-left: 10px;
    margin-right: 10px;
}

.more-details .content{
    font-size: 3rem;
}


.more-details .user-details{
    margin-top: 10px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
}

.more-details .commentForm{
    color: white;
    font-size:3rem;
}

.more-details .commentForm input{
    color: black;
    font-size: 2rem;
    font-weight: bold;

}

.more-details .comments button{
    font-size: 2rem;
}


.more-details .comments{
    color: rgb(18, 160, 243);
    font-size: 2rem;

}

.more-details .comments .user{
    font-weight: bold;
    font-size: 20px;
    color: thistle;

}

.more-details .comments .time{
    font-weight: bold;
    font-size: 17px;
    color: white;

}


.jumbotron{
    background-color: rgb(161, 165, 199);
}

/* PROFILE PAGE */

.profile .row{
    display: flex;
    justify-content: center;
}

.profile h4{
    text-align: center;
    font-weight: 900;
    color: rgb(18, 160, 243);
    font-size: 15px;
}
.profile-details{
    color: rgb(18, 160, 243);
}

.user-profile{
    padding-top: 20px;
    text-align: center;
    color: white;
    font-weight: bold;

}

.prof-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1 rem;
}
.prof-update-form{
    margin-top: 15px;
    color: white;

}
.prof-update-form input{
    margin-bottom: 20px;
    color: black;
    font-weight: bold;

}

.update-bio{
    color: white;
}

.update-bio img{
    border-radius: 10%;
}


/* INDEX PAGE */

.description{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 54px;
    font-family: 'Rancho', cursive;
    color: thistle;
}

.welcome-text{
    border: 1px solid white;
    margin: 5px;
    text-align: center;
}

.quick-notes{
    font-size: 25px;
    color: thistle;
    
    
}

.quick-notes h3{
    color: rgb(18, 160, 243);
    font-weight: bold;
}

.index-image img{
    border-radius: 5%;

}


/* CATEGORIES PAGES */

.categories h4{
    color: rgb(18, 160, 243);
    font-weight: bold;
    font-size: 15px;
}