{% extends 'base.html'%}

<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid index">
  
<div class="row">
  <div class="col-md-6 description">
    <div class="col-md-8 welcome-text">
        <p>Home of all life changing pitches</p>
        <div class="quick-notes">
           <h3>Branding </h3>
          <p>
            Show the brand that they have to remember. Furthermore, this is the perfect time in the pitch to tell 
          your mantra. A mantra is a slogan, consists of very few words, and express your motivation. 
          This is especially important if the audience will see many pitches. Then they need something to remember.
          </p> 
        </div>


    </div>
  </div>
  <div class="col-md-6 index-image">
    <img src="https://www.installrex.com/assets/images/loginpage.png" style=" width: 100%;" alt="">
  </div>

</div>


     

</div>

{% endblock %}