{% extends 'base.html'%}

<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid index">
  
<div class="row">
  <div class="col-md-6 description">
    <div class="welcome-text">
      <p>Home of all life changing pitches</p>
    </div>
  </div>
  <div class="col-md-6 index-image">
    <img src="https://www.installrex.com/assets/images/loginpage.png" style="height: 100%; width: 100%;" alt="">
  </div>

</div>


     

</div>

{% endblock %}