{% macro displayPitches(pitches) %}

    {% for pitch in pitches  %}
    
  
    
    <div class="row col-md-5 pitch-card">
        <div class="col-md-2">
            {% if pitch.user.profile_pic_path %}

                <img src="{{ url_for('static',filename=pitch.user.profile_pic_path)}}" style="border-radius: 50%; margin-top: 15px; height:70px; width: 100%;"alt="...">
            
                {%else%}
                <img src="{{url_for('static',filename='photos/avartar.jpeg')}}" style="border-radius: 50%; height:100px; width: 100%;" alt="" class="img-thumbnail">  
            {% endif %}
        
        </div>
        <div class="col-md-10">
            <p class="text-muted">{{ pitch.user.username}}</p>
            <hr>
            <div>
                <h1>{{ pitch.pitch_title }}</h1>
                <h3>Category: {{pitch.category}}</p>
                <hr>
                <p>{{pitch.pitch_content | truncate(40)}}</p>
                <p class="text-muted">Posted on {{ pitch.posted}}</p>
                <div class="row">
                    
                    <button type="button" class="btn btn-primary">0 Comments</button>
                    
                    <button type="button" class="btn btn-success">{{pitch.up_vote}} Likes</button>
                    
                    <button type="button" class="btn btn-danger">{{ pitch.down_vote}} Dislikes</button>
                    
                
                </div>
                <hr>

                <p><a href="{{url_for('main.more_pitch_details', id=pitch.pitch_id)}}">Read More</a></p>

            </div>
        </div>
    
    </div>
    {% endfor %}

{% endmacro %}



{%macro displayComments(comments)%}

    {% for comment in comments  %}
        <div class="col md-12">
            <p class="text-muted user">{{ comment.user.username}}</p>
            <p> {{comment.pitch_comment}}</p>
            <p class="time">Commented on  {{comment.posted}}</p>

        </div>
        <hr>
    {% endfor %}

{% endmacro %}