{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content%}
  <div class="container-fluid">
      <div class="container more-details">
        <div class="col-md-12">

          <div class="col-md-12">
            
            <div class="jumbotron">
              <div class="container">
                <div class="topheader">
                  <h2>{{single_pitch.category}} category</h2>
                  <h3>{{single_pitch.pitch_title}}</h3>
                </div> 
                <hr>
    
                <div class="content">
                  <p>{{single_pitch.pitch_content}}</p>

                </div>
                  <div class="row buttons">
                    <button type="button" class="btn btn-success"><i class="fas fa-thumbs-up"></i>{{single_pitch.up_vote}}</button>
                        
                    <button type="button" class="btn btn-danger"><i class="fas fa-thumbs-down"></i>{{single_pitch.down_vote}}</button>
    
                  </div>
                <div class="row user-details">
                  <div class="username">Posted by {{single_pitch.user.username}} on: {{ single_pitch.posted}}</div>
                </div>
                
                </div> 
                
              </div>
            </div>
            
           

          

          </div>
            
            
          
            
            
            <!-- <a action="/pitch/more/{{single_pitch.pitch_id}}?up_vote=1">{{ single_pitch.up_vote}}</span></button></a>
            
            <a action="/pitch/more/{{single_pitch.pitch_id}}?down_vote=1"><button type="button" class="btn btn-danger">dislikes <span>{{ single_pitch.up_vote}}</span></button></a>
            
          -->
    
          <div class="col-md-12 commentForm">
            <div class="col-md-8">
              {{wtf.quick_form(cForm)}}
            </div>
          </div>

          <div class="col-md-12 comments">
            <hr>
            <button type="button" class="btn btn-primary">0 Comments</button>
            <hr>
            {{macro.displayComments(comments)}}

          </div>
        </div>

          

      </div>
  </div>
{% endblock %}


