{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content%}
  <div class="container-fluid">
      <div class="container more-details">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
          
          <div class="row topheader">
            <div class="username">{{single_pitch.user.username}}</div>
            <div class="datetime">{{ single_pitch.posted}}</div>
          </div>
          <div class="container pitch-content">
            <h4>{{single_pitch.pitch_title}}</h4>
            <h5>Category:{{single_pitch.category}}</h5>

          </div>  
          <div class="container-fluid">
            {{single_pitch.pitch_content}}
          </div>

          <i class="fa fa-thumbs-up"></i>
          <i class="fa fa-thumbs-down"></i>
  
        </div>
        <div class="col-md-3">
          {{wtf.quick_form(cForm)}}

        </div>
        <div class="col-md-3">
          <h4>Comments</h4>
          {{macro.displayComments(comments)}}

        </div>

          

      </div>
  </div>
{% endblock %}



