{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

<!-- Styles block -->   
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content%}
  <div class="container-fluid">
      <div class="container more-details">
        <div class="col-md-10">
          <div class="row topheader">
            <div class="username">{{single_pitch.user.username}}</div>
            <div class="datetime">{{ single_pitch.posted}}</div>
          </div> 
          <div class="pitch-content">
            <h4>{{single_pitch.pitch_title}}</h4>
            <h5>Category:{{single_pitch.category}}</h5>

          </div>  
        </div>
          
          
         
          <div class="container-fluid">
            {{single_pitch.pitch_content}}
          </div>

          
          <a action="/pitch/more/{{single_pitch.pitch_id}}?up_vote=1"><button type="button" class="btn btn-success">likes <span>{{ single_pitch.up_vote}}</span></button></a>
          
          <a action="/pitch/more/{{single_pitch.pitch_id}}?down_vote=1"><button type="button" class="btn btn-danger">dislikes <span>{{ single_pitch.up_vote}}</span></button></a>
          
          <i class="fas fa-thumbs-up"></i>
          <i class="fas fa-thumbs-down"></i>
  
        <div class="col-md-3">
          {{wtf.quick_form(cForm)}}

        </div>
        <div class="col-md-3">
          <h4>Comments</h4>
          {{macro.displayComments(comments)}}

        </div>

          

      </div>
  </div>
{% endblock %}


